---
apiVersion: v1
kind: Config
clusters:
  - name: k3s-cluster
    cluster:
      server: {{ api_server }}
      certificate-authority-data: {{ ca_data_b64 }}
contexts:
  - name: {{ kubeconfig_username }}@k3s-cluster
    context:
      cluster: k3s-cluster
      user: {{ kubeconfig_username }}
current-context: {{ kubeconfig_username }}@k3s-cluster
users:
  - name: {{ kubeconfig_username }}
    user:
      client-certificate-data: {{ user_cert_b64 }}
      client-key-data: {{ user_key_b64 }}
